<div
  style="display: flex; flex-direction: column"
  class="bg-gradient-to-tl from-[#2b2b2c] to-[#2b2b2c] h-screen overflow-auto p-10"
>
  <div
    style="margin-top: 4rem"
    class="flex justify-center pb-7 text-3xl font-semibold text-[#ff411f]"
  >
    TRANSACTIONS
  </div>

  <div class="flex flex-row justify-center gap-2 pb-3">
    <div class="text-[#ff411f]">From</div>
    <input
      type="date"
      class="bg-transparent text-white hover:bg-[#ffffff]/5 rounded-lg cursor-pointer"
      [value]="firstDate"
    />
    <div class="text-[#ff411f]">To</div>
    <input
      type="date"
      class="bg-transparent text-white hover:bg-[#ffffff]/5 rounded-lg cursor-pointer"
      [value]="todaysDate"
    />
  </div>
  <div class="h-4"></div>
  <div
    style="
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 10px;
      justify-content: center;
      margin-bottom: 20px;
    "
  >
    @for (transactionType2 of transactionTypes; track transactionType2) {
    <div>
      <input
        type="radio"
        id="{{ transactionType2 }}"
        [(ngModel)]="transactionType"
        name="transactionType"
        value="{{ transactionType2 }}"
        class="sr-only text-white"
      />
      <label
        for="{{ transactionType2 }}"
        class="cursor-pointer text-white px-4 py-2 rounded-3xl"
        [ngClass]="{
          'bg-[#ff411f] ': transactionType === transactionType2,
          ' bg-[#3b3b3b] hover:bg-zinc-800':
            transactionType !== transactionType2
        }"
        >{{ GetRadioString(transactionType2) }}</label
      >
    </div>
    }
  </div>
  <div class="h-7"></div>
  @if(!transactions) {
  <div class="h-screen flex items-center justify-center">
    <div
      class="h-16 w-16 rounded-full border-4 border-t-[#ff411f] border-[#ff411f]/30 animate-spin"
    ></div>
  </div>
  } @else {

  <div style="display: flex; flex-direction: column; gap: 10px">
    @for (transaction of transactions; track transaction) {
    @if(ShouldShow(transaction)){
    <div
      class="shadow-lg bg-[#1b1b1b] p-7"
      style="
        color: #ffffff;
        margin: 0px 25%;

        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      "
    >
      <div
        style="width: 30%"
        [ngStyle]="{ color: isPositive(transaction) ? 'green' : 'red' }"
      >
        {{ getAmount(transaction) }}
      </div>

      <div
        style="width: 30%"
        [ngStyle]="{ color: isPositive(transaction) ? 'green' : 'red' }"
      >
        {{ getType(transaction) }}
      </div>

      <div style="width: 30%; color: #ffffff">
        {{ transaction.createdAt | date }}
      </div>

      <div
        style="max-width: 10%; color: #ff411f"
        class="bg-[#363636] p-2 rounded-full"
      >
        @if(isPositive(transaction)){
        <app-left-arrow class="text-2xl"></app-left-arrow>

        }@else {

        <app-arrowsvg class="text-2xl font-semibold"></app-arrowsvg>
        }
      </div>
    </div>
    } }
  </div>

  }
</div>
