

<div  style="display: flex; flex-direction: row; gap: 20px; padding: 10px; margin-top:4.5rem">

    <div>
        <input [checked]="true" checked type="radio" id="AllTypes" [(ngModel)]="transactionType" name="transactionType" value="all">
        <label for="AllTypes">All</label>
    </div>

    <div>
        <input type="radio" id="WithdrawType"  [(ngModel)]="transactionType" name="transactionType" value="withdraw">
        <label for="WithdrawType">Withdraw</label>
    </div>

    <div>
        <input type="radio" id="DepositType" [(ngModel)]="transactionType" name="transactionType" value="deposit">    
        <label for="DepositType">Deposit</label>
    </div>

    <div>
        <input type="radio" id="TransferFrom" [(ngModel)]="transactionType" name="transactionType" value="transferFrom">
        <label for="TransferFrom">Transfer From</label>
    </div>

    <div>
        <input type="radio" id="TransferTo" [(ngModel)]="transactionType" name="transactionType" value="transferTo">
        <label for="TransferTo">TransferTo</label>
    </div>

</div>

@if(!enrichedTransactions$) {    
    <div>LOADING...</div>  
}
<!-- @else if( (enrichedTransactions$| async)) {
    <div style="padding: 100px;">YOU DONT HAVE ANY TRANSasdfACTIONS...</div>
} -->
@else {
    @for (transaction of enrichedTransactions$ | async; track transaction) {
        <!-- @if(transaction.type == )         -->
        
        @if(ShouldShow(transaction)){            
            <div style="background-color: purple; color: yellow; margin: 20px;padding: 10px; border-radius: 10px;">
                
                <div>{{getAmount(transaction)}}</div>
                
                <div [ngStyle]="{ 'color': isPositive(transaction) ? 'green' : 'red' }">{{getType(transaction)}}</div>
                
<!-- 
                <div>{{transaction.toUsername}}</div>
                <div>{{transaction.fromUsername}}</div>

                <div>{{transaction.type}}</div>
                <div>{{transaction.from  }}</div>
                <div>{{transaction.to }}</div> -->
                <div>{{transaction.createdAt}}</div>
                <!-- <div>{{transaction.updatedAt}}</div> -->
            </div>
        }
    }
}

