<nav>
  <div class="logo">
    <span class="text-[#df2859]">BAA</span>
  </div>
  <div class="hamburger" (click)="toggleMenu()" [class.toggle]="isMenuOpen()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <ul class="nav-links" [class.open]="isMenuOpen()">
    <li>
      <button
        class="cursor-pointer hover:text-[#e90f58]"
        [ngClass]="{ 'text-[#e90f58] font-bold': isActive('/home') }"
        (click)="goToHome()"
      >
        HOME
      </button>
    </li>
    <li>
      <button
        class="cursor-pointer hover:text-[#e90f58]"
        [ngClass]="{ 'text-[#e90f58] font-bold': isActive('/users') }"
        (click)="goToUsers()"
      >
        MY BENEFICIARIES
      </button>
    </li>
    <li>
      <button
        class="cursor-pointer hover:text-[#e90f58]"
        [ngClass]="{ 'text-[#e90f58] font-bold': isActive('/transactions') }"
        (click)="goToTransactions()"
      >
        TRANSACTIONS
      </button>
    </li>
    <li>
      <button class="login-button" (click)="logout()">Logout</button>
    </li>
  </ul>
</nav>
